# Data Science Tools and Ecosystem

 In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
- List popular languages for Data science
- List commonly used libraries used by data scientists
- Demonstrate arithmetic expression in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

 Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. seaborn

| Data science Tools |
|--------------------|
| Jupyter notebook   |
| RStudio            |
| Apache hadoop      |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hour = minutes/60
hour

3.3333333333333335

## Author
Anushka Gupta